[submodule "pika_ros"]
    path = pika_ros
    url = https://github.com/Jingxuan-Li-0921/pika_ros.git

[submodule "pyAgxArm"]
    path = pyAgxArm
    url = https://github.com/Jingxuan-Li-0921/pyAgxArm.git
